@use '../base/var' as *;


dl.description-list {
	font-size: $text-sm;
	dt {
		font-weight: $weight-extra;
		font-family: $font-dewi-expanded;
		line-height: $lh-normal;
	}

	dd {
		font-weight: $weight-normal;
		text-transform: uppercase;
		font-family: $font-inter;
		line-height: $lh-large;
	}
}