.info-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-dewi-expanded;
  color: $white;

  height: 100%;

  @media screen and (min-width: 1200px) {
     height: fit-content;
    }
  &_primary {
    margin-bottom: auto;
    a {
      text-align: center;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      &>*:first-child {
        font-weight: 400;
        font-size: 24px;
        font-weight: $weight-extra-bold;
      }

      &>*:last-child {
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0;
      }
    }
  }

  &_secondary {

  margin-top: auto;
  
    
     
    
     
    a {
      display: flex;
      flex-direction: column;

      &>*:first-child {
        font-weight: 400;
        font-size: 14px;
        font-weight: $weight-extra-bold;
      }

      &>*:last-child {
        font-family: $font-inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }
}