@use '../base/var' as *;

.logo {
	font-family: $font-dewi-expanded;
	font-weight: $weight-extra;
	line-height: $lh-normal;
	text-align: center;
	font-size: $text-2xl;
}

.logo-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	>*:not(.logo) {
		font-size: $text-base;
		line-height: $lh-large;
		font-weight: $weight-normal;
		font-family: $font-inter;
		text-align: center;
	}

	&--subtitle-decorative {
		>*:not(.logo) {
			text-transform: uppercase;
			font-family: $font-dewi-expanded;
		}
	}
}