@use '../base/var' as *;
@use '../base/mixins' as *;
@use '../utils/responsive' as *;

.printing-card {
  text-align: center;

  img {
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
    height: 228px;

    @include resp-before('lg') {
      height: 316px;
    }
  }


  figcaption {
    margin-top: 40px;

  }

  &_title {
    font-weight: $weight-extra;
    font-size: 20px;
    font-family: $font-dewi-expanded;
    margin-bottom: 24px;
  }

  &_description {
    font-weight: 400;
    font-family: $font-inter;
    font-size: 16px;
    line-height: 150%;
  }
}