.product{
  img{
    width: 100%;
    max-width: 350px;
    aspect-ratio: 1/1;
    border-radius: $rounded-base;
       object-fit: cover;
  }

  figcaption{
    margin-top: 20px;
    span{
      font-family: $font-dewi-expanded;
      font-weight: $weight-medium;

      &:first-child{
        font-size: 24px;
        
      }
      &:last-child{
        font-size: 18px;
        transform: translateY(-50%);
        display: inline-block;
        margin-left: 15px;
      }
    }
  }
}