@use '../base/var' as *;

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  img {
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
    height: 210px;
  }

  figcaption {
    margin-top: 20px;
    text-align: center;


  }

  &_title {
    font-weight: $weight-extra;
    font-size: $text-xl;
    font-family: $font-dewi-expanded;
    margin-bottom: 24px;
  }

  &_description {
    font-weight: 400;
    font-family: $font-inter;
    font-size: $text-base;
    line-height: 150%;
  }

}