@use '../base/var' as *;
@use '../base/mixins' as *;
@use '../utils/responsive' as *;

.collaboration {
	background-color: $bg-secondary;
	padding: 600px 0px 105px;
	color: $white;
	
	@include resp-before('xl') {
		padding: 764px 0px 80px;
	}

	&_title {
		margin-bottom: 30px;

		@include resp-before('md') {
			margin-bottom: 40px;
		}
	}

	&_description {
		margin-bottom: 30px;

		@include resp-before('md') {
			margin-bottom: 50px;
		}
	}

	&_items {
		@include grid(1);

		@include resp-before('sm') {
			@include grid(2, 2rem);
		}

		@include resp-before('md') {
			@include grid(3, 35px);
		}
		
		img {
			aspect-ratio: 1/1;
			object-fit: cover;
			border-radius: 4px;
		}
	}
}