@use '../base/var' as *;
@use '../utils/responsive' as *;

.presentation {
	position: relative;
	height: 260px;
	// TODO: Вынос с переменную
	border-radius: 15px;
	background: url(../../../assets/media/img/video-bg.jpg) no-repeat center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	@include resp-before('sm'){
		height: 280px;
	}

	@include resp-before('pre-md'){
		height: 350px;
	}

	&::after {
		content: '';
		background: $black-900;
		position: absolute;
		// TODO: Возможно вынести в mixin, как BG
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		opacity: 0.6;
		z-index: 1;
	}

	>* {
		z-index: 2;
	}

	&_title {
		font-weight: $weight-extra;
		font-size: $text-2xl;
		line-height: 120%;
		color: $text-color-secondary;
		text-align: center;
		font-family: $font-dewi-expanded;
		margin-bottom: 38px;
	}

	&_play-btn {
		position: relative;
		
		aspect-ratio: 1/1;
		// TODO: Добавить перменную
		background: rgba($white, .2);
		width: 80px;
		border-radius: $rounded-full;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: 0.2s ease-in background;
		backdrop-filter: blur(1px);
		
		@include resp-before('lg'){
			width: 105px;
		}

		svg {
			width: 30%;
			aspect-ratio: 1/1;
			fill: $white;
			// TODO: Вынести в миксин анимацию
			transition: 0.2s ease-in fill;
		}

		&:hover {
			// TODO: Добавить перменную
			background: rgba($white, .4);

			svg {
				fill: yellow;
			}
		}
	}
}