@use '../base/mixins' as *;
@use '../utils/responsive' as *;

.printing {
	padding: 80px 0 250px;
	position: relative;


	@include resp-before('xl') {
		padding: 100px 0 320px;
	}

	&_title {
		margin-bottom: 40px;

		@include resp-before('xl') {
			margin-bottom: 80px;
		}
	}

	&_items {
		@include grid(1);
		gap: 42px;

		@include resp-before('pre-md') {
			@include grid(2);
			gap: 35px;
		}
	}
}