.printing {
	padding: 100px 0 150px;
	position: relative;



	&_title {
		margin-bottom: 65px;

		@media screen and (min-width: 1200px) {
			margin-bottom: 80px;
		}
	}

	&_items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(395px, 1fr));
		gap: 42px;
		row-gap: 38px;
		justify-items: center;

		>* {
			max-width: 395px;
		}

		@media screen and (min-width: 1200px) {
			grid-template-columns: repeat(auto-fill, minmax(545px, 1fr));
			gap: 35px;

			>* {
				max-width: none
			}
		}
	}

	
}