@use '../utils/responsive' as *;
@use '../base/mixins' as *;

.products {
	padding: 60px 0 200px;

	@include resp-before('pre-md') {
		padding: 120px 0 280px;
	}

	&_title {
		margin-bottom: 30px;

		@include resp-before('pre-md') {
			margin-bottom: 60px;
		}
	}

	&_description {
		margin-bottom: 40px;

		@include resp-before('pre-md') {
			margin-bottom: 80px;
		}
	}

	&_items {
		@include grid(1);

		@include resp-before('sm') {
			@include grid(2, 36px);
		}

		@include resp-before('md') {
			@include grid(3, 36px);
		}
	}
}