@use '../base/mixins' as *;
@use '../utils/responsive' as *;

.production {
	padding: 85px 0px 400px;

	@include resp-before('md') {
		@include resp-to('lg'){
			padding: 85px 0px 600px;
		}	
	}

	@include resp-before('xl') {
		padding: 125px 0px 340px;
	}

	&_title {
		margin-bottom: 60px;

		@include resp-before('md') {
			margin-bottom: 72px;
		}
	}

	&_description {
		margin-bottom: 50px;

		@include resp-before('md') {
			margin-bottom: 80px;
		}
	}

	&_items {
		@include grid(1, 32px);

		@include resp-before('sm') {
			@include grid(2, 32px);
		}

		@include resp-before('md') {
			@include grid(3, 32px);
		}

		img {
			width: 100%;
			aspect-ratio: 1/1;
			object-fit: cover;
			border-radius: 4px;
		}
	}
}