@use '../base/var' as *;
@use '../utils/responsive' as *;

.promo {
	position: relative;
	height: 270px;
	border-radius: 15px;
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;

	@include resp-before('xl') {
		height: 350px;
	}

	&_bg {
		display: flex;
		justify-content: space-between;
		position: absolute;
		height: 100%;
		width: 100%;

		img {
			width: 100%;
			object-fit: cover;
		}

		&::after {
			content: '';
			background: $black-900;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.5;
			z-index: 1;
		}
	}

	&_info {
		z-index: 2;
		text-align: center;
		color: $white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;

		&_title {
			font-weight: $weight-extra;
			font-size: $text-lg;
			line-height: 120%;
			margin-bottom: 24px;
			font-family: $font-dewi-expanded;

			@include resp-before('pre-md') {
				font-size: $text-2xl;
			}
		}

		&_description {
			max-width: 720px;
			font-weight: $weight-normal;
			font-size: $text-sm;
			line-height: 150%;
			font-family: $font-inter;

			@include resp-before('pre-md') {
				font-size: $text-base;
			}
		}
	}
}