@use '../base/var' as *;
@use '../base/mixins' as *;
@use '../utils/responsive' as *;

.retail {
	background-color: $grey-400;
	border-radius: $rounded-3xl;
	overflow: hidden;
	margin-top: 155px;

	@include resp-before('xs') {
		margin-top: 207px;
		}

	@include resp-before('sm') {
		margin-top: 187px;
		}

	@include resp-before('pre-md') {
		margin-top: 338px;
		}

	&_top {
		padding: 50px 10px 30px;

		@include resp-before('pre-md') {
			padding: 84px 10px 60px;
		}

		&_title {
			margin-bottom: 30px;
		}

		&_description {
			max-width: 600px;
		}
	}

	&_bottom {
		@include resp-before('lg') {
			@include grid(2, 0)
		}

		figure {
			height: 250px;
			position: relative;

			@include resp-before('pre-md') {
				height: 350px;
			}

			@include resp-before('md') {
				height: 470px;
			}

			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
			}

			figcaption {
				position: absolute;
				bottom: 30px;
				left: 40px;
				color: $white;
				font-weight: $weight-extra;
				font-size: $text-2xl;
				line-height: $lh-normal;
				font-family: $font-dewi-expanded;
			}
		}
	}
}