@use '../base/var' as *;
@use '../base/mixins' as *;
@use '../utils/responsive' as *;

.services {
	background-color: $bg-tertiary;
	padding: 200px 0 80px 0;

	@include resp-before('pre-md') {
		padding: 306px 0 130px;
	}

	&_title {
		margin-bottom: 72px;

		@include resp-before('xl') {
			margin-bottom: 54px;
		}
	}

	&_description {
		margin-bottom: 50px;

		@include resp-before('xl') {
			margin-bottom: 70px;
		}
	}

	&_items {
		@include grid(1);
		gap: 82px;

		@include resp-before('pre-md') {
			@include grid(2);
			gap: 36px;
		}

		@include resp-before('lg') {
			@include grid(3);
		}
	}
}