@use '../base/var' as *;
@use '../base/mixins' as *;
@use '../utils/responsive' as *;

.workflow {
	background-color: $bg-secondary;
	padding: 200px 0px 110px;
	color: $white;

	@include resp-before('md') {
		padding: 300px 0px 160px;
	}

	&_title {
		margin-bottom: 46px;

		@include resp-before('xl') {
			margin-bottom: 36px;
		}
	}

	&_description {
		margin-bottom: 56px;
	}

	&_items {
		display: flex;
		flex-wrap: wrap;
		@include grid(1, 24px);

		@include resp-before('sm') {
			@include grid(2, 24px);
		}

		@include resp-before('pre-md') {
			@include grid(3, 24px);
		}

		@include resp-before('md') {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}