@use '../base/var' as *;
@use '../utils/responsive' as *;

.footer {
	background-color: $bg-secondary;
	color: $white;
	padding-bottom: 246px;

	@include resp-before('xl') {
		padding-bottom: 34px;
	}

	hr {
		width: 100%;
		height: 1px;
		// TODO: Добавить к переменным, возможно
		background-color: #2C2C2C;
	}

	&_content {
		$content: &;

		margin-top: 50px;
		display: grid;
		justify-items: center;
		gap: 40px;


		* {
			text-align: center;
		}

		@include resp-before('lg') {
			grid-template-columns: 1fr auto 1fr;
			align-items: center;
			gap: 50px;

			#{$content}_logo {
				grid-column: 2/3;
				grid-row: 1/2;
			}

			#{$content}_number {
				grid-column: 1/2;
				grid-row: 1/2;
			}

			#{$content}_mail {
				grid-column: 3/4;
				grid-row: 1/2;
			}

			#{$content}_send {
				grid-column: 1/4;
				grid-row: 2/3;
			}

		}
	}
}