@use '../base/var' as *;
@use '../utils/responsive' as *;

.header {
	height: 700px;
	background: url(../../../assets//media/img/header-bg.jpg) center no-repeat;
	background-size: cover;
	color: $white;
	font-family: $font-dewi-expanded;
	position: relative;

	@include resp-before('md'){
		height: 100vh;
	}

	&_content {
		z-index: 2;
		height: 100%;
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;

		h1 {
			font-weight: $weight-extra;
			font-size: $text-3xl;
			text-align: center;
			color: $white;

			@include resp-before('xl') {
				font-size: $text-5xl;
			}
		}

		&_links {
			$links: &;

			padding: 30px;
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			gap: 20px;


			* {
				text-align: center;
			}


			&_logo {
				position: absolute;
				top: 30px;
				left: 50%;
				transform: translateX(-50%);
			}

			@include resp-before('sm') {
				flex-direction: row;

				align-items: flex-end;
				justify-content: space-between;
			}

			@include resp-before('pre-md') {
				align-items: flex-start;

				* {
					text-align: start;
				}

				// #{$links}_logo{
				// 	top: 15px;
				// }
				// margin-top: calc(100px / 2);
			}
		}
	}

	&::after {
		// TODO: ВЫнести Bg 100 процентов
		content: '';
		background: $black-900;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.5;
		z-index: 1;
	}


}