.section-title {
  font-weight: $weight-extra-bold;
  font-size: $text-3xl;
  font-family: $font-dewi-expanded;
  max-width: 894px;
  text-align: center;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    font-size: $text-4xl;
  }
}

.section-description {
  font-weight: $weight-normal;
  font-size: $text-base;
  font-family: $font-inter;
  line-height: 150%;
  max-width: 739px;
  text-align: center;
  margin: 0 auto;
}