// Цвета 
$black-700: #222222; 
$black-800: #1A1A1A; 
$black-850: #191919; 
$black-900: #000000;

$grey-100: #EEEEEE;

$white: #ffffff;

$yellow-200: #f5e69a;
$yellow-300: #F4DF74;

$text-primary: $black-850;
$text-secondary: $white;

// Задний фон
$bg-primary: $white;
$bg-secondary: $black-850;
$bg-tertiary: $grey-100;

$action-primary-bg: $yellow-300;
$action-primary-bg--hover: $yellow-200;

// Текст
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px; 
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 32px;
$text-4xl: 48px;
$text-5xl: 60px;

$font-inter: "Inter", sans-serif;
$font-dewi-expanded: 'RFDewi', sans-serif;

// Закругление
$rounded-xs: 2px;
$rounded-sm: 4px;
$rounded-base: 6px;
$rounded-lg: 8px;
$rounded-xl: 10px;
$rounded-2xl: 12px;
$rounded-3xl: 15px;
$rounded-full: 1000000px;

// Жирность
$weight-normal: 400;
$weight-medium: 500;
$weight-extra-bold: 800;

// Межстрочный отступ
$lh-small: 110px;
$lh-normal: 120px;
$lh-large: 150px;
