// Цвета 
// Комментариями пометил потенциальные, но неиспользуемые
$white: #ffffff;

$black-600: #2C2C2C; 
$black-700: #222222; 
// $black-800: #1A1A1A; 
$black-850: #191919; 
$black-900: #000000;
// F4DF74 YEllow
// f5e69a YEllow

$grey-100: #EEEEEE;
$grey-400: #E6E6E6;

$yellow-200: #f5e69a;
$yellow-300: #F4DF74;

$text-color-primary: black;
$text-color-secondary: $white;

// Задний фон
$bg-primary: $white;
$bg-secondary: $black-850;
$bg-tertiary: $grey-100;

// Текст
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px; 
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 32px;
$text-4xl: 48px;
$text-5xl: 60px;

// Шрифт
$font-inter: "Inter", sans-serif;
$font-dewi-expanded: 'RFDewi', sans-serif;

// // Закругление
// $rounded-xs: 2px;
$rounded-sm: 4px;
$rounded-base: 6px;
// $rounded-lg: 8px;
$rounded-xl: 10px;
// $rounded-2xl: 12px;
$rounded-3xl: 15px;
$rounded-full: 1000000px;

// // Жирность
$weight-normal: 400;
$weight-medium: 500;
$weight-extra: 800;

// Межстрочный отступ
$lh-normal: 120%;
$lh-large: 150%;

// Transition
$transition-base: 0.2s ease-in;
