
@use './responsive' as *;
@use '../base/var' as *;

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 30px;

  @include resp-before("xl") {
    padding: 0;
    max-width: 1130px;
  }
}

// Классы ниже возможно вынесутся в другой файл
.section-title {
  font-weight: $weight-extra;
	font-size: $text-3xl;
  font-family: $font-dewi-expanded;
  text-align: center;

	@include resp-before("sm") {
		font-size: $text-3xl;
	}

	@include resp-before("xl") {
		font-size: $text-4xl;
	}
}

.section-description {
  font-weight: $weight-normal;
  font-size: $text-sm;
  font-family: $font-inter;
  line-height: $lh-large;
  text-align: center;
	max-width: 740px; // TODO: Странное решение, но так в макете
	margin-left: auto;// TODO: Из-за решения выше
	margin-right: auto;// TODO: Из-за решения выше

	@include resp-before("pre-md") {
		font-size: $text-base;
	}
}

.between-section{
	height: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	>*{
		flex-shrink: 0;
	}
}

// Конец возможных вынесенных файлов
