@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import '../../assets/fonts/RWDewi/stylesheetRFDewi';

@import './base/reset';
@import './base/var';
@import './base/mixins';

// Blocks
@import './blocks/header';

@import './components/index-components';


body {
  font-family: $font-inter;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .container {
    max-width: 1130px;
    margin: 0 auto;
  }

  
}