
@use '../../assets/fonts/RWDewi/stylesheetRFDewi' as *;

@use './base/reset' as *;
@use './base/var' as *;
@use './base/mixins' as *;

// Layouts
@use './layout/header' as *; 
@use './layout/footer' as *;

// Sections
@use './sections/index' as *;

// Components
@use './components/index' as *;

// Utils
@use './utils/_index' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html{
	scroll-behavior: smooth;
	body {
			font-family: $font-inter;
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			scroll-behavior: smooth;
		}
}
