@font-face {
  font-family: "RFDewi";
  src: url("../../../assets/fonts/RWDewi/RFDewiExtended-Regular.woff2") format("woff2"), url("../../../assets/fonts/RWDewi/RFDewiExtended-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RFDewi";
  src: url("../../../assets/fonts/RWDewi/RFDewiExtended-Ultrabold.woff2") format("woff2"), url("../../../assets/fonts/RWDewi/RFDewiExtended-Ultrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

.header {
  height: 700px;
  background: url(../../assets/media/img/header-bg.jpg) center no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: "RFDewi", sans-serif;
  position: relative;
}
@media (min-width: 768px) {
  .header {
    height: 100vh;
  }
}
.header_content {
  z-index: 2;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.header_content h1 {
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .header_content h1 {
    font-size: 60px;
  }
}
.header_content_links {
  padding: 30px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.header_content_links * {
  text-align: center;
}
.header_content_links_logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 414px) {
  .header_content_links {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}
@media (min-width: 540px) {
  .header_content_links {
    align-items: flex-start;
  }
  .header_content_links * {
    text-align: start;
  }
}
.header::after {
  content: "";
  background: #000000;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
}

.footer {
  background-color: #191919;
  color: #ffffff;
  padding-bottom: 246px;
}
@media (min-width: 1200px) {
  .footer {
    padding-bottom: 34px;
  }
}
.footer hr {
  width: 100%;
  height: 1px;
  background-color: #2C2C2C;
}
.footer_content {
  margin-top: 50px;
  display: grid;
  justify-items: center;
  gap: 40px;
}
.footer_content * {
  text-align: center;
}
@media (min-width: 992px) {
  .footer_content {
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 50px;
  }
  .footer_content * {
    text-align: start;
  }
  .footer_content .footer_content_logo {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .footer_content .footer_content_number {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .footer_content .footer_content_mail {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .footer_content .footer_content_send {
    grid-column: 1/4;
    grid-row: 2/3;
  }
}

.products {
  padding: 60px 0 200px;
}
@media (min-width: 540px) {
  .products {
    padding: 120px 0 280px;
  }
}
.products_title {
  margin-bottom: 30px;
}
@media (min-width: 540px) {
  .products_title {
    margin-bottom: 60px;
  }
}
.products_description {
  margin-bottom: 40px;
}
@media (min-width: 540px) {
  .products_description {
    margin-bottom: 80px;
  }
}
.products_items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
@media (min-width: 414px) {
  .products_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
  }
}
@media (min-width: 768px) {
  .products_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
  }
}

.presentation {
  position: relative;
  height: 260px;
  border-radius: 15px;
  background: url(../../assets/media/img/video-bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (min-width: 414px) {
  .presentation {
    height: 280px;
  }
}
@media (min-width: 540px) {
  .presentation {
    height: 350px;
  }
}
.presentation::after {
  content: "";
  background: #000000;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: 1;
}
.presentation > * {
  z-index: 2;
}
.presentation_title {
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  text-align: center;
  font-family: "RFDewi", sans-serif;
  margin-bottom: 38px;
}
.presentation_play-btn {
  position: relative;
  aspect-ratio: 1/1;
  background: rgba(255, 255, 255, 0.2);
  width: 80px;
  border-radius: 1000000px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in background;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
@media (min-width: 992px) {
  .presentation_play-btn {
    width: 105px;
  }
}
.presentation_play-btn svg {
  width: 30%;
  aspect-ratio: 1/1;
  fill: #ffffff;
  transition: 0.2s ease-in fill;
}
.presentation_play-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.presentation_play-btn:hover svg {
  fill: #F4DF74;
}

.services {
  background-color: #EEEEEE;
  padding: 200px 0 80px 0;
}
@media (min-width: 540px) {
  .services {
    padding: 306px 0 130px;
  }
}
.services_title {
  margin-bottom: 72px;
}
@media (min-width: 1200px) {
  .services_title {
    margin-bottom: 54px;
  }
}
.services_description {
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .services_description {
    margin-bottom: 70px;
  }
}
.services_items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  gap: 82px;
}
@media (min-width: 540px) {
  .services_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    gap: 36px;
  }
}
@media (min-width: 992px) {
  .services_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.printing {
  padding: 80px 0 250px;
  position: relative;
}
@media (min-width: 1200px) {
  .printing {
    padding: 100px 0 320px;
  }
}
.printing_title {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .printing_title {
    margin-bottom: 80px;
  }
}
.printing_items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  gap: 42px;
}
@media (min-width: 540px) {
  .printing_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    gap: 35px;
  }
}

.promo {
  position: relative;
  height: 270px;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
@media (min-width: 1200px) {
  .promo {
    height: 350px;
  }
}
.promo_bg {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
}
.promo_bg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.promo_bg::after {
  content: "";
  background: #000000;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
}
.promo_info {
  z-index: 2;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.promo_info_title {
  font-weight: 800;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 24px;
  font-family: "RFDewi", sans-serif;
}
@media (min-width: 540px) {
  .promo_info_title {
    font-size: 24px;
  }
}
.promo_info_description {
  max-width: 720px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
}
@media (min-width: 540px) {
  .promo_info_description {
    font-size: 16px;
  }
}

.workflow {
  background-color: #191919;
  padding: 200px 0px 110px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .workflow {
    padding: 300px 0px 160px;
  }
}
.workflow_title {
  margin-bottom: 46px;
}
@media (min-width: 1200px) {
  .workflow_title {
    margin-bottom: 36px;
  }
}
.workflow_description {
  margin-bottom: 56px;
}
.workflow_items {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}
@media (min-width: 414px) {
  .workflow_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
@media (min-width: 540px) {
  .workflow_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
@media (min-width: 768px) {
  .workflow_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.production {
  padding: 85px 0px 400px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .production {
    padding: 85px 0px 600px;
  }
}
@media (min-width: 1200px) {
  .production {
    padding: 125px 0px 340px;
  }
}
.production_title {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .production_title {
    margin-bottom: 72px;
  }
}
.production_description {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .production_description {
    margin-bottom: 80px;
  }
}
.production_items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
}
@media (min-width: 414px) {
  .production_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}
@media (min-width: 768px) {
  .production_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}
.production_items img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.retail {
  background-color: #E6E6E6;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 155px;
}
@media (min-width: 360px) {
  .retail {
    margin-top: 207px;
  }
}
@media (min-width: 414px) {
  .retail {
    margin-top: 187px;
  }
}
@media (min-width: 540px) {
  .retail {
    margin-top: 338px;
  }
}
.retail_top {
  padding: 50px 10px 30px;
}
@media (min-width: 540px) {
  .retail_top {
    padding: 84px 10px 60px;
  }
}
.retail_top_title {
  margin-bottom: 30px;
}
.retail_top_description {
  max-width: 600px;
}
@media (min-width: 992px) {
  .retail_bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}
.retail_bottom figure {
  height: 250px;
  position: relative;
}
@media (min-width: 540px) {
  .retail_bottom figure {
    height: 350px;
  }
}
@media (min-width: 768px) {
  .retail_bottom figure {
    height: 470px;
  }
}
.retail_bottom figure img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.retail_bottom figure figcaption {
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: #ffffff;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  font-family: "RFDewi", sans-serif;
}

.collaboration {
  background-color: #191919;
  padding: 600px 0px 105px;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .collaboration {
    padding: 764px 0px 80px;
  }
}
.collaboration_title {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .collaboration_title {
    margin-bottom: 40px;
  }
}
.collaboration_description {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .collaboration_description {
    margin-bottom: 50px;
  }
}
.collaboration_items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
@media (min-width: 414px) {
  .collaboration_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (min-width: 768px) {
  .collaboration_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
  }
}
.collaboration_items img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

button.btn {
  width: -moz-fit-content;
  width: fit-content;
  background: #F4DF74;
  border-radius: 10px;
  padding: 19px 20px;
  font-family: "RFDewi", sans-serif;
  font-weight: 800;
  font-size: 16px;
  transition: 0.2s ease-in background;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  button.btn {
    padding: 22px 36px;
    font-size: 16px;
  }
}
button.btn:hover, button.btn:focus {
  background: #f5e69a;
}

.logo {
  font-family: "RFDewi", sans-serif;
  font-weight: 800;
  line-height: 120%;
  text-align: center;
  font-size: 24px;
}

.logo-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-wrap > *:not(.logo) {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.logo-wrap--subtitle-decorative > *:not(.logo) {
  text-transform: uppercase;
  font-family: "RFDewi", sans-serif;
}

dl.description-list {
  font-size: 14px;
}
dl.description-list dt {
  font-weight: 800;
  font-family: "RFDewi", sans-serif;
  line-height: 120%;
}
dl.description-list dd {
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  line-height: 150%;
}

.product-card img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s ease-in transform;
}
.product-card img:hover {
  transform: scale(1.05);
}
.product-card figcaption {
  margin-top: 10px;
}
@media (min-width: 540px) {
  .product-card figcaption {
    margin-top: 20px;
  }
}
.product-card figcaption span {
  position: relative;
  font-family: "RFDewi", sans-serif;
  font-weight: 400;
}
.product-card_title {
  display: inline-block;
  font-size: 24px;
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-card_price {
  font-size: 14px;
  transform: translateY(-50%);
  display: inline-block;
  margin-left: 6px;
}
@media (min-width: 1200px) {
  .product-card_price {
    font-size: 18px;
    margin-left: 15px;
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-card img {
  width: 100%;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 210px;
}
.service-card figcaption {
  margin-top: 20px;
  text-align: center;
}
.service-card_title {
  font-weight: 800;
  font-size: 20px;
  font-family: "RFDewi", sans-serif;
  margin-bottom: 24px;
}
.service-card_description {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.printing-card {
  text-align: center;
}
.printing-card img {
  width: 100%;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 228px;
}
@media (min-width: 992px) {
  .printing-card img {
    height: 316px;
  }
}
.printing-card figcaption {
  margin-top: 40px;
}
.printing-card_title {
  font-weight: 800;
  font-size: 20px;
  font-family: "RFDewi", sans-serif;
  margin-bottom: 24px;
}
.printing-card_description {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.workflow-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workflow-tile_icon {
  width: 90px;
  aspect-ratio: 1/1;
  position: relative;
  background: #222222;
  border-radius: 1000000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
  cursor: pointer;
  transition: 0.2s ease-in background;
}
.workflow-tile_icon:hover {
  background: #ffffff;
}
.workflow-tile_icon:hover svg {
  fill: #222222;
}
.workflow-tile_icon > svg {
  transition: 0.2s ease-in background;
  max-width: 40%;
  fill: #ffffff;
}
@media (min-width: 540px) {
  .workflow-tile_icon {
    width: 114px;
  }
}
.workflow-tile_description {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  font-family: "Inter", sans-serif;
}
@media (min-width: 414px) {
  .workflow-tile_description {
    max-width: 160px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 30px;
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
    max-width: 1130px;
  }
}

.section-title {
  font-weight: 800;
  font-size: 32px;
  font-family: "RFDewi", sans-serif;
  text-align: center;
}
@media (min-width: 414px) {
  .section-title {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .section-title {
    font-size: 48px;
  }
}

.section-description {
  font-weight: 400;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 150%;
  text-align: center;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 540px) {
  .section-description {
    font-size: 16px;
  }
}

.between-section {
  height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.between-section > * {
  flex-shrink: 0;
}

html {
  scroll-behavior: smooth;
}
html body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: smooth;
}/*# sourceMappingURL=main.css.map */